
*{
  margin: 0px;
}

body{
  background-color: #DFDDCB
}

.navigation {
  display: flex;
  font-size: 1.3rem;
  width: 100vw;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #b22222;
}
header{
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav-links{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white
}

.card-container {
  max-width: 300px;
  margin-top: 5vh;
  display: flex;
  margin: 0;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }

.card{
  background-color: white;
  border: 1px solid black;
  width: 400px;
  max-height: 400px;
  overflow-y: auto;;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.About{
  width: 100%;
  float: left;
  height: auto;
  padding: 20px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.card-text:last-child {
  margin-bottom: 0;
}

.new-dog-form: {
  background-image: 'https://dribbble.com/shots/3302754-Running-dog/attachments/9754385?mode=media';
}

.adoption-element{
  padding: 8px;
  margin-top: 5px;
  margin-left: 1.5vh;
  margin-right: 1vh;
}

.adoption-form-text{
  margin-top: 6px;
  margin-left: 1.5vh;
}

.contact-stuff{
  margin-left: 1.5vh;
}